<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>my imgur | {% block title %} hey {% endblock title %}</title>
    </head>
    <body>

        <div>
           <button> <a href="/">myImgur</a> </button>
            <button> <a href="/images">vidi sve slike</a> </button>
            <button> <a href="/images/new">dodaj sliku</a> </button>
        </div>

        <div>
            {% block content %}

            {% endblock content %}
        </div>
    </body>
</html>